* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    background: blueviolet;
    padding: 30px 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 20px;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.logo {
    color: #fff;
    font-size: 22px;
}
.hero {
    height: 100vh;
    background-image: url("images/mypicture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1, .hero p {
    opacity: 0;
    transform: translateY(70px);
    animation: fadeInUp 4s forwards;
}
.hero h1 {
    animation-delay: 0.3s;
}
.hero p {
    animation-delay: o.8s;
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.hero .btn {
    margin-top: 20px;
    padding: 10px 25px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: orchid;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: 3s;
}
.hero .btn:hover {
    background-color: blue;
}
.about, .projects, .contact {
    padding:20px 30px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
}
.card {
    background-color: rgba(138, 43, 226, 0.35);
    border-radius: 12px;
    width: 400px;
    margin: 20px ;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact:hover {
    color: blue;
    text-decoration: none;
}
.project-card {
    background: violet;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 8px;
}
